<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <title><%= seo.title %>--源软件科技（广州）有限公司</title>
    <meta name="description"
          content="<%= seo.description %>"/>
    <meta name="keywords" content="<%= seo.keywords %>"/>
    <link rel="Bookmark" href="http://image.xiaoxinseo.com/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/css/gobal.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/animate.min.css"/>

    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <script type="text/javascript" src="/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</head>
<body>

<div id="warpper">
    <!--header-->
    <div id="head">
        <header>
            <div class="header">
                <div class="logo"><a href="/index.html">中源软件科技（广州）有限公司</a></div>
                <div class="nav">
                    <ul>
                        <li class="on"><a href="/index.html">首页</a></li>
                        <li><a href="/grfw.html">个人服务</a></li>
                        <li><a href="/qyfw.html#">企业服务</a></li>
                        <li><a href="/zx.html">新闻资讯</a></li>
                        <li><a href="/contact.html">联系我们</a></li>
                    </ul>
                    <span title="留言" onClick="location.href='contact.html'" class="messsn">留言</span>
                </div>
                <div class="myPhone">服务热线:<b>020-32297009 / 13322813720</b></div>
                <div class="btn-m-list">
                </div>
            </div>
        </header>
    </div>
    <!--    body-->
    <section>
        <div class="contain">
            <div class="bannerwarp">
                <div class="scrollBar">
                    <div class="inbanner">
                        <ul class="visual_slide">
                            <li>
                                <a class="bannerheight web-banner" href="javascript:void(0)"><img
                                            src="http://image.xiaoxinseo.com/1f55f166b4affa0cda8cce1de3774b79.jpg"></a>
                            </li>
                            <li>
                                <a class="bannerheight web-banner" href="javascript:void(0)"><img
                                            src="http://image.xiaoxinseo.com/212b8444a2f0ea7b1cd154da41084f2f.jpg"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="index-waper-box">
                        <div class="index-back-box digital">
                            <div class="sub-arrows bx-controls-direction">
                                <i class="icom prev bx-prev"></i>
                                <i class="icom next bx-next"></i>
                            </div>
                            <div class="sub-mouse">
                                <span><img src="http://image.xiaoxinseo.com/images/sub-mouse.png"/></span>
                            </div>
                            <div class="IndexList active">
                                <ul>
                                    <li>
                                        <b class="nub"><em id="indexCount1" data-to="30"
                                                           data-speed="1500">30</em>+</b>
                                        <span class="pd">云基地</span>
                                    </li>
                                    <li>
                                        <b class="nub"><em id="indexCount2" data-to="300"
                                                           data-speed="1500"></em>+万</b>
                                        <span class="pd">服务用户数</span>
                                    </li>
                                    <li>
                                        <b class="nub"><em id="indexCount3" data-to="10"
                                                           data-speed="1500">10</em>+万</b>
                                        <span class="pd">服务商入驻</span>
                                    </li>

                                </ul>
                                <script>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--            关于企保盈-->
        <div class="section05">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>关于企保盈</span>
                </div>
                <div class="index-case">
                    <ul class="clearfix ">
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <img src="http://image.xiaoxinseo.com/images/new-item1.png" width="50px" alt=""><br/>
                            <h3 class="nub">20+</h3>
                            <p>全国二十多个税优地资源</p>

                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <img src="http://image.xiaoxinseo.com/images/new-item2.png" width="50px" alt=""><br/>
                            <h3 class="nub">100,000+</h3>
                            <p>人力资源服务商</p>

                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <img src="http://image.xiaoxinseo.com/images/new-item3.png" width="50px" alt=""><br/>
                            <h3 class="nub">100,000+</h3>
                            <p>数十万企业的信赖之选</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <img src="http://image.xiaoxinseo.com/images/new-item4.png" width="50px" alt=""><br/>
                            <h3 class="nub">100,000+</h3>
                            <p>耗资亿元打造人力资源共享系统</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--            企业和个人-->
        <div class="section06 ">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>提供国内合法、合规、稳定的税务服务落地</span>
                    计算、存储、监控、安全、完善的云产品满足您对业务的全面需求
                </div>
                <div class="index-case">
                    <ul class="clearfix ">
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <h3>个人服务</h3>
                            <p>合法合规的薪资筹划</p>
                            <p>针对公转私合规问题，提供定制化的个人所得税筹划方案，解决个人所得税高，自由职业者，劳务收入个税太高等问题</p>
                            <a>免费获取方案</a>
                            <i></i>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <h3>企业服务服务</h3>
                            <p>专业财税一站式管理优化</p>
                            <p>免费量身定制 | 专业财税一站式服务 | 全国云基地覆盖</p>
                            <a>免费获取方案</a>
                            <i></i>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <!--平台模块-->
        <div class="section07">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>平台主要模块</span>
                    保障业务的合规合法
                </div>
                <div class="index-case wow fadeInUp">
                    <div class="section07-img"></div>
                    <div class="section07-logo"></div>
                    <div class="section07-os os-img1">
                        <p>智能任务分发系统</p>
                    </div>
                    <div class="section07-os os-img2">
                        <p>信任支付系统</p>
                    </div>
                    <div class="section07-os os-img3">
                        <p>线上认证注册系统</p>
                    </div>
                    <div class="section07-os os-img4">
                        <p>智能票据管理系统</p>
                    </div>
                    <div class="section07-os os-img5">
                        <p>政府信息查询系统</p>
                    </div>

                </div>
            </div>
        </div>
        <!--            八大适用场景-->
        <div class="section02">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>八大适用场景</span>
                </div>
                <div class="index-case">
                    <ul class="clearfix">
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-1.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>企业所得税型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-2.png"/>
                            </div>
                            <a href="javascript:void(0);">
                                <h2 class="h2">
                                    <span>增值税型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-3.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>利润分红型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-4.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>工资个税型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src="http://image.xiaoxinseo.com/images/scene-5.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>劳务收入型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-6.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>投资收益型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-7.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>社会保险型</span>
                                </h2>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.0s">
                            <div class="pic">
                                <img src=" http://image.xiaoxinseo.com/images/scene-8.png"/>
                            </div>
                            <a href="javascript:void(0)">
                                <h2 class="h2">
                                    <span>个人创业型</span>
                                </h2>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="section01">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>行业专属解决方案定制</span>
                    针对各行业业务特性，打造个性化行业解决方案，为您提供一站式的产品与服务
                </div>
                <div class="index-ser">
                    <ul class="clearfix">
                        <li>
                            <div class="item wow fadeInUp" data-wow-delay="0.2s"><a href="javascript:void(0)">
                                    <i style="background-image:url(http://image.xiaoxinseo.com/images/new-icon4.png);" class="co"></i>
                                    <h2>直播平台</h2>
                                    <span>企保盈帮助直播平台将主播收益合理化的同时解决直播平台涉税风险。目前已与多家主播平台及主播经纪公司合作，合法合规解决主播平台产生的税务问题</span></span>
                                </a></div>
                        </li>
                        <li>
                            <div class="item wow fadeInUp" data-wow-delay="0.4s"><a href="javascript:void(0)">
                                    <i style="background-image:url( http://image.xiaoxinseo.com/images/new-icon5.png);" class="co"></i>
                                    <h2>物流行业</h2>
                                    <span>企保盈对医药行业的人力资源成本进行合理筹划，适当降低人力资源成本，同时适当降低高收入群体的个人所得税，助力降低药价，有利于国计民生</span>
                                </a></div>
                        </li>
                        <li>
                            <div class="item wow fadeInUp" data-wow-delay="0.6s"><a href="javascript:void(0)">
                                    <i style="background-image:url( http://image.xiaoxinseo.com/images/new-icon6.png);" class="co"></i>
                                    <h2>医疗行业</h2>
                                    <span>企保赢帮助外卖平台解决无法提供合理入账凭证、增值税无法抵扣、自由职业者报税不合规问题</span>
                                </a></div>
                        </li>
                        <li>
                            <div class="item wow fadeInUp" data-wow-delay="0.8s"><a href="javascript:void(0)">
                                    <i style="background-image:url('images/new-icon7.png');" class="co"></i>
                                    <h2>外卖平台</h2>
                                    <span>企保赢帮助外卖平台解决无法提供合理入账凭证、增值税无法抵扣、自由职业者报税不合规问题</span>
                                </a></div>
                        </li>
                        <li>
                            <div class="item wow fadeInUp" data-wow-delay="0.8s"><a href="javascript:void(0)">
                                    <i style="background-image:url('images/new-icon8.png');" class="co"></i>
                                    <h2>自媒体</h2>
                                    <span>企保赢帮助自媒体行业解决签约自媒体税负高、报税不合理、平台无法取得合理的入账凭证等问题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a></div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="section04">
            <div class="layout">
                <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                    <span>最新资讯</span>
                    观察行业视觉，用专业的角度，讲出你们的心声。
                </div>
                <div class="index-news">
                    <div class="owl-carousel" id="owl-demo2">
                        <% for(var i = 0;i < articles.length;i++) { %>
                            <div class="item wow fadeInUp" data-wow-delay="0.0s">
                                <a href="/news/<%= articles[i].id %>" title="<%= articles[i].title %>">
                                    <div class="tmain">
                                        <span class="time">
                                            <%= moment(articles[i].createtime).format('YYYY-MM-DD') %>
                                        </span>
                                        <h3 class="title overflowtxt"><%= articles[i].title %></h3>
                                        <div class="h3">
                                            <%= articles[i].descript %>
                                        </div>
                                        <span class="more">Load More</span>
                                    </div>
                                </a></div>
                        <% } %>
                    </div>
                    <a class="indexmore" href="zx.html">MORE</a>
                </div>
            </div>
        </div>

        <%- include component/kh.ejs %>

        <%- include component/case.ejs %>
    </section>


    <!--    foot-->
    <%- include component/footer.ejs %>


</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#owl-demo1").owlCarousel({
            items: 1,
            lazyLoad: true,
            navigation: true, //打开上一个，下一个按钮
            pagination: false, //打开页码
            autoPlay: true
        });

        $("#owl-demo2").owlCarousel({
            items: 4,
            lazyLoad: true,
            navigation: true, //打开上一个，下一个按钮
            pagination: false, //打开页码
            autoPlay: true
        });

        $('.visual_slide').bxSlider({
            mode: "horizontal",
            auto: true,
            nextText: '<span class="bannext"></span>',
            prevText: '<span class="banprev"></span>',

        });


    });
</script>

<script type="text/javascript">
    numAdd("indexCount1")
    numAdd("indexCount2")
    numAdd("indexCount3")

    function numAdd(aa) {
        const numD = document.getElementById(aa)
        var num = numD.getAttribute("data-to")
        var time = numD.getAttribute("data-speed")
        var numTime = time / num
        var i = 1
        var timer = setInterval(function () {
            if (i == num) {
                clearInterval(timer)
            }
            numD.innerHTML = i++;
        }, numTime)
    }

    //滚动到一定位置添加CLASS
    $(window).scroll(function () {
        var h = $(document).scrollTop();
        var j = window.screen.height;
        var o = $(".contain").offset().top;
        if (h > o + 200) {
            $('.digital').addClass('active');
        } else {
            $('.digital').removeClass('active');
        }
    });
</script>
</body>
</html>